{
  "nodes": {
    "myf30": {
      ":ip": "dhcp",
      "ports": [],
      ":memory": 2048,
      ":box": "fedora/30-cloud-base",
      ":bootstrap": "bootstrap-fedora.sh",
      ":sync": ["~/test", "/data"]
    },
    "server2": {
      ":ip": "192.168.35.92",
      "ports": [],
      ":memory": 1024,
      ":box": "fedora/30-cloud-base",
      ":bootstrap": "bootstrap-fedora.sh",
      ":sync": ["~/test", "/data"]
    }
  }
}
